[Desktop Entry]
Version=1.0
Name=MyApp
Comment=My Application Description
Exec=myapp %F
Icon=myapp
Terminal=false
Type=Application
Categories=Utility;Application;

